.app-wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.sidebar-wrapper {
    min-width: 230px;
    max-width: 230px;
    color: $my-color;
    background: $my-dg-color;
    transition: all .3s;
}

.sidebar-wrapper.active {
    margin-left: -230px;
}

.sidebar-wrapper ul li a {
    display: block;
    padding: 10px;
}

.sidebar-header {
    width: 100%;
    padding: 10px 30px;
    font-size: 22px;
    font-weight: 400;
    line-height: 45px;
    background: $my-dg-color;
}

.sidebar-header i {
    padding: 5px 6px;
    border: 1px solid #eaeaea;
    border-radius: 50%;
}

.sidebar-header span {
    padding-left: 18px;
}

.sidebar-profile {
    align-items: center;
    padding: 30px 10px;
}

.sidebar-profile span,
.sidebar-profile p {
    padding: 5px;
    font-size: 16px;
}

.sidebar-list>ul>li.active>a {
    box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
}

.sidebar-list ul li a:hover {
    background: rgba(255, 255, 255, .06);
}

.sidebar-list>ul>li.active {
    border-right: 6px solid rgb(26, 187, 156);
}

.sidebar-child-list li {
    padding-left: 35px;
}

.my-btn {
    color: $my-color;
    background: #1abb9c;
}

.my-btn i {
    font-size: 24px;
}

.content-wrapper {
    position: sticky;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 20px;
    transition: all .3s;
}

.content-header {
    font-size: 22px;
    font-weight: 400;
    line-height: 49px;
    color: $my-color;
    background: #1abb9c;
    box-shadow: 1px 1px 10px rgba(42, 63, 84, 1);
}

.content-body {
    margin-top: 25px;
    align-items: stretch;
}

.card {
    border-top: 3px solid #d2d6de;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.cd-title {
    border-top-color: #17a2b8;
    font-size: 18px;
    font-weight: bold;
    color: #434444;
}

.cd-payment {
    border-top-color: #00a65a;
}

.cd-weight {
    border-top-color: #f39c12;
}

.cd-cal {
    border-top-color: #dd4b39;
}

.cd-color {
    margin: 0;
    padding: 0;
    background: #19b5fe;
}

.color {
    margin-top: 25vh;
    text-align: center;
    margin-bottom: 25vh;
}

#hex {
    display: block;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    margin: 20px;
}

.color button {
    background: none;
    outline: none;
    color: white;
    border: 3px solid white;
    cursor: pointer;
    font-size: 24px;
}

.content-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding-left: 75%;
    line-height: 60px;
    background-color: #f5f5f5;
    box-shadow: -1px -1px 10px rgba(42, 63, 84, 1);
}

#calendar {
    max-width: 65%;
    margin: 0 auto;
}

.container-chart {
    position: relative;
    margin: auto;
    width: 100%;
}